= content_for :heading do
  %h1 Recent activities

%table.activities
  - @activities.each_with_index do |activity, i|
    %tr
      %td
        = image_tag "no-picture.png"
      %td
        .meta
          .actor= activity.actor.email
          .time= humanize_time(activity.created_at)
        - if activity.action
          .action
            .ui-icon.ui-icon-info
            %span.action= activity.action
            - if activity.action == 'attached'
              - a = Attachment.find(activity.subject_id)
              %span.attachment
                - if a.caption.empty?
                  = link_to a.attachment_file_name, a.attachment.url
                - else
                  = link_to a.caption + ' (' + a.attachment_file_name + ')', a.attachment.url
        - else
          %p.comment= activity.comment
          - if activity.next_stage
            .action
              .ui-icon.ui-icon-info
              changed status
              %div{:style => "background: #{activity.prev_stage.color}; color:#{map_to_char_color(activity.prev_stage.color)}", :class => "statusbox"}
                = activity.prev_stage.name
              →
              %div{:style => "background: #{activity.next_stage.color}; color:#{map_to_char_color(activity.next_stage.color)}", :class => "statusbox"}
                = activity.next_stage.name

