= content_for :heading do
  %h1 Recent activities

%ol.activities
  - @activities.each do |activity|
    %li
      %table.twocol
        %tr
          %td
            %span.actor= activity.actor.email
            on
            != "<a href=#{applicant_path(activity.applicant)}>#{activity.applicant.display_name}</a>"
          - if activity.next_stage
            %td
              %div.right
                %div{:style => "background: #{activity.next_stage.color}; color:#{map_to_char_color(activity.next_stage.color)}", :class => "statusbox"}
                  = activity.next_stage.name
      %p.comment= activity.comment
      %table.twocol
        %tr
          %td
            %span.time= humanize_time(activity.created_at)
