.conversation.clearfix
  .icon
    - if conversation.outgoing
      = image_tag('send.png')
    - else
      = image_tag('reply.png')
  .msg  
    %p
      - if conversation.outgoing
        %b= "Sent to #{applicant.display_name}"
      - else
        %b= "Reply from #{applicant.display_name}"
    %p= simple_format(conversation.body)
