%h1= @job.title

%table{:class => 'jobs'}
  %tr
    %td{:class => 'col1'}
      Status
    %td
      = @job.status
  %tr
    %td{:class => 'col1'}
      Posted on
    %td
      = @job.creation_date
    %tr
      %td{:class => 'col1'}
        Closed on
      - if @job.expiry_date
        %td
          = @job.expiry_date
    %tr
      %td{:class => 'col1'}
        Description
      %td
        != @job.description

%p= link_to 'Click to Apply', new_pub_job_applicant_path(@job)

%br/

= link_to 'Back to Job Board', pub_jobs_path
