%h1= @job.title

%table.details
  %tr
    %td
    %td
  %tr
    %th Status
    %td
      = @job.status
  %tr
    %th Posted on
    %td
      = @job.creation_date
    %tr
      %th Closed on
      - if @job.expiry_date
        %td
          = @job.expiry_date

!= @job.description

%br/

%p= link_to 'Apply for this position', new_pub_job_applicant_path(@job), :id => "Apply"

:javascript
  $(function() {
  	$("#Apply").button().css("margin-bottom", "30px")
  })

%p= link_to 'Back to Job Board', pub_jobs_path
