%table.applicants
  %tr
    %th Name
    %th Applied for
    %th Phone
    %th Status
    %th
    %th
  - applicants.each do |applicant|
    %tr{:class => read_status[applicant.id] ? "read" : "unread"}
      %td= applicant.first_name + " " + applicant.last_name
      %td= applicant.job.title
      %td= applicant.phone
      %td= applicant.status
      %td= link_to 'Show', applicant_path(applicant)
      %td= link_to 'Delete', applicant, :confirm => 'Are you sure?', :method => :delete
