= semantic_form_for @applicant, :html => {:multipart => true, :id => 'form'} do |f|
  - f.inputs do
    = f.input :job_id, :as => :select, :collection => current_account.jobs.map { |job| [job.title, job.id] }
    = f.input :first_name, :label => "First name"
    = f.input :last_name, :label => "Last name"
    = f.input :email, :label => "Email"
    = f.input :phone, :label => "Phone"
    = f.input :cover_letter, :label => "Cover letter (1)"
    = hidden_field_tag :remove_attachment
    - if @applicant.attachment?
      /= link_to @applicant.attachment_file_name, @applicant.attachment.url
      %li.string.optional
        = f.label 'Attachment'
        = f.label @applicant.attachment_file_name
        = link_to 'Remove', 'javascript:void(0);', :id => 'rm-atm'
    - else
      = f.input :attachment, :as => :file, :label => "Attachment (2)"

  - f.buttons do
    = f.commit_button "Submit"

= link_to 'Back', applicants_path

- content_for :head do
  :javascript
    $(function() {
      $('input[type=submit]').button()
      
      $('#rm-atm').click(function() {
        if (confirm('Are you sure?')) {
          $('#form').append('<input type="hidden" name="remove_attachment" value="true">');
          $('#form').submit();
        } else {
          return false;
        }
      });
    });

