%h1 Applications

%a{:href => "#", :class => "button"}
  Archive
%a{:href => "#", :class => "button"}
  Report spam
%a{:href => "#", :class => "button"}
  Delete

%br
%br

%table.applicants
  %tr.title
    %th 
      %input{:type => "checkbox"}
    %th
    %th Name
    %th Applied for
    %th Status
  - @applicants.each do |applicant|
    %tr{:class => @read_status[applicant.id] ? "read" : "unread"}
      %td.checkbox
        %input{:type => "checkbox"}
      %td{:class => "star", :id => "#{applicant.id}"}
        - if applicant.is_starred
          %img{:src => "/images/yellow-star.png", :class => "yellow-star star-icon"}
          %img{:src => "/images/white-star.png", :class => "white-star star-icon", :style => "display:none"}
        - else
          %img{:src => "/images/yellow-star.png", :class => "yellow-star star-icon", :style => "display:none"}
          %img{:src => "/images/white-star.png", :class => "white-star star-icon"}
      %td.name
        = link_to applicant.first_name + " " + applicant.last_name, applicant_path(applicant)
      %td= applicant.job.title
      %td
        %div{:style => "background: #{applicant.job_stage.color}", :class => "statusbox"}
        = applicant.job_stage.name

%br/

= link_to 'Create a new Application', new_applicant_path

- content_for :sidebar do
  %h2 Filters
  %ul
    = form_tag(applicants_path, :method => :get, :id => 'job_filter') do
      %li
        %span= "Position"
        = select_tag :job_title, options_for_select(job_filter_collection, @job)
      %li
        %span= "Status"
        = select_tag :apt_status, options_for_select(apt_status_filter_collection, @status)

:javascript
  $(function() {
  	$('#job_title, #apt_status').change(function() {
  		$('#job_filter').submit()
  	})
  	
  	$('.star-icon').click(function(){
      $.ajax({
        type: 'PUT',
        url: '/applicants/' + $(this).parent().attr('id'),
        data: {
          'starring' : 1
        }
      });
  	});
  })
