%h1 Listing applicants

%table.applicants
  %tr
    %th Name
    %th Applied for
    %th Status
  - @applicants.each do |applicant|
    %tr{:class => @read_status[applicant.id] ? "read" : "unread"}
      %td= link_to applicant.first_name + " " + applicant.last_name, applicant_path(applicant)
      %td= applicant.job.title
      %td= applicant.job_stage.name

%br/

= link_to 'Create new Applicant', new_applicant_path

- content_for :sidebar do
  %h2 Filters
  %ul
    - form_tag(applicants_path, :method => :get, :id => 'job_filter') do
      %li
        = label_tag :job_title, "Position"
        = select_tag :job_title, options_for_select(job_filter_collection, @job)
      %li
        = label_tag :apt_status, "Status"
        = select_tag :apt_status, options_for_select(apt_status_filter_collection, @status)

:javascript
  $(function() {
  	$('#job_title, #apt_status').change(function() {
  		$('#job_filter').submit()
  	})
  })
