%h1 Listing applicants

%br
%h2 Filter options

<form id=job_filter>
%p
  = label_tag :job_title, "Position"
  = select_tag :job_title, job_filter_collection
%p
  = label_tag :apt_status, "Status"
  = select_tag :apt_status, apt_status_filter_collection
</form>

#applicants
  = render :partial => 'applicants', :locals => { :applicants => @applicants }

:javascript
  $(function() {
  	$("#job_title, #apt_status").change(function() {
  		$('#applicants').load('/applicants/filter?' + $("#job_filter").serialize())
  	})
  })
