%h1= @applicant.first_name + " " + @applicant.last_name

%ul.actions
  %li= link_to 'Edit details', edit_applicant_path(@applicant)
  %li= link_to 'Mark as unread', mark_applicant_as_unread_path(@applicant)

.profile
  .details
    %table
      %tr
        %th
        %th
      %tr
        %td
          %strong Position
        %td= @applicant.job.title
      %tr
        %td
          %strong Email
        %td= @applicant.email
      %tr
        %td
          %strong Phone
        %td= @applicant.phone
      %tr
        %td
          %strong Resume
        - if @applicant.attachment?
          %td= link_to @applicant.attachment_file_name, @applicant.attachment.url
        - else
          %td No resume attached
      %tr
        %td
          %strong Status
        %td{:style => "background: #{@applicant.job_stage.color}"}= @applicant.job_stage.name

  .attachments
    Attachments:
    - unless @applicant.attachments.empty?
      %ul
        - @applicant.attachments.each do |a|
          %li
            - if a.caption.empty?
              = link_to a.attachment_file_name, a.attachment.url
            - else 
              = link_to a.caption, a.attachment.url
    - else 
      %p
        (No attachment)
    %br              
    %a{:href => "#", :onclick => "$('#add_attachment').dialog({modal: true, title: 'Add attachment', width: 700, height: 200});"}= "Add attachment"
              
  .clearfix

#add_attachment              
  = form_for [@applicant, Attachment.new], :url => applicant_attachments_path(@applicant), :html => {:multipart => true} do |f|          
    %table{:class => "attachments"}
      %tr
        %td
          = f.label "Caption"
        %td
          = f.text_field :caption
      %tr
        %td
          = f.label "Attachment"
        %td
          = f.file_field :attachment, :as => :file
      %tr
        %td
          = f.submit "Submit"              

- unless @activities.empty?  
  .activities
    - @activities.each_with_index do |activity, i|
      - if !activity.new_record?
        - if activity.action
          .row
            .col1
              = image_tag "no-picture.png"
            .col2
              %div{:class => "#{i.even? ? 'even' : 'odd'}"}
                .actor= activity.actor.email
                .time= humanize_time(activity.created_at)
                .clearfix
              .row2
                %span.action= activity.action
                - if activity.action == 'attached'
                  - a = Attachment.find(activity.subject_id)
                  %span.attachment
                    - if a.caption.empty?
                      = link_to a.attachment_file_name, a.attachment.url
                    - else 
                      = link_to a.caption, a.attachment.url
        - else
          .row
            .col1
              = image_tag "no-picture.png"
            .col2
              %div{:class => "#{i.even? ? 'even' : 'odd'}"}
                .actor= activity.actor.email
                .time= humanize_time(activity.created_at)
                .clearfix  
              .row2
                %p.comment= activity.comment
                - if activity.next_stage
                  changed status from
                  %div{:style => "background: #{activity.prev_stage.color}", :class => "statusbox"}
                  %span.status= activity.prev_stage.name
                  to
                  %div{:style => "background: #{activity.next_stage.color}", :class => "statusbox"}
                  %span.status= activity.next_stage.name
      .clearfix
                  
= form_for @activity, :url => applicant_activities_path(@applicant), :html => { :class => "clearfix" } do |f|
  %table
    %tr
      %th
        Comment:
      %th
        Status:
    %tr
      %td
        = f.text_area :comment, :rows => 10, :cols => 64
      %td
        %ol
          - current_account.job_stages.undeleted.each do |stage|
            %li
              = f.radio_button :next_stage, stage.id, :checked => @applicant.job_stage.id == stage.id
              %div{:style => "background: #{stage.color}", :class => "statusbox"}
              = stage.name
    %tr
      %td
        = f.submit "Submit"

:javascript
  $(function() {
  	$('#add_attachment').hide();
  })
