%p
  %b First name:
  = @applicant.first_name
%p
  %b Last name:
  = @applicant.last_name
%p
  %b Email:
  = @applicant.email
%p
  %b Phone:
  = @applicant.phone
%p
  %b Status:
  = @applicant.status

= link_to 'Back', applicants_path
