%p
  %b First name:
  = @applicant.first_name
%p
  %b Last name:
  = @applicant.last_name
%p
  %b Email:
  = @applicant.email
%p
  %b Phone:
  = @applicant.phone
%p
  %b Resume:
  = link_to @applicant.attachment_file_name, @applicant.attachment.url
   
= form_for(@applicant, :remote => true) do |f|
  = f.label "Status"
  = f.select :status, [["New", "new"], ["Screened", "screened"], ["Interviewed", "interviewed"], ["Offered", "offered"], ["Hired", "hired"], ["Rejected", "rejected"]]
  %br
  = f.submit 'Save', :disable_with => "Please wait..."

= link_to 'Back', applicants_path
