%ul.actions
  %li= link_to 'Edit', edit_applicant_path(@applicant)
  %li= link_to 'Mark as unread', mark_applicant_as_unread_path(@applicant)

%h1= @applicant.first_name + " " + @applicant.last_name

%p
  %b Email:
  = @applicant.email
%p
  %b Phone:
  = @applicant.phone
%p
  %b Resume:
  - if @applicant.attachment?
    = link_to @applicant.attachment_file_name, @applicant.attachment.url
  - else
    No resume attached
%p
  %b Status:
  = @applicant.job_stage.name

%br/

= link_to 'Back to Applicant List', applicants_path

:javascript
  $(function() {
  	$("select#applicant_status").change(function() {
  		$("form.edit_applicant").submit()
  	})
  })
