%h1= @applicant.first_name + " " + @applicant.last_name

%table.details
  %tr
    %th
    %th
  %tr
    %td
      %strong Position
    %td= @applicant.job.title
  %tr
    %td
      %strong Email
    %td= @applicant.email
  %tr
    %td
      %strong Phone
    %td= @applicant.phone
  %tr
    %td
      %strong Resume
    - if @applicant.attachment?
      %td= link_to @applicant.attachment_file_name, @applicant.attachment.url
    - else
      %td No resume attached
  %tr
    %td
      %strong Status
    %td{:style => "background: #{@applicant.job_stage.color}"}= @applicant.job_stage.name

%ul.actions
  %li= link_to 'Edit details', edit_applicant_path(@applicant)
  %li= link_to 'Mark as unread', mark_applicant_as_unread_path(@applicant)

%ol.activities
  - @activities.each do |activity|
    - if !activity.new_record?
      - if activity.action
        %li
          %table.threecol
            %tr
              %td
                %span.actor= activity.actor.email
              %td
                %span.action=activity.action
                - if activity.action == 'attached'
                  - res = Attachment.find(activity.subject_id)
                  %span.resource
                    = link_to res.attachment_file_name, res.attachment.url
              %td
                %span.time.right= activity.created_at
      - else
        %li
          %p.comment= activity.comment
          %table.threecol
            %tr
              %td
                %span.actor= activity.actor.email
              %td
                - if activity.next_stage
                  %div{:style => "background: #{activity.prev_stage.color}", :class => "statusbox"}
                  %span.status= activity.prev_stage.name
                  %span.arrow →
                  %div{:style => "background: #{activity.next_stage.color}", :class => "statusbox"}
                  %span.status= activity.next_stage.name
              %td
                %span.time.right= activity.created_at

= form_for @activity, :url => applicant_activities_path(@applicant), :html => { :class => "clearfix" } do |f|
  %fieldset.comment
    %legend Comment:
    = f.text_area :comment, :rows => 14, :cols => 64
  %fieldset.status
    %legend Status:
    %ol
      - application_status_collection.each do |status, id|
        %li
          = f.radio_button :next_stage, id, :checked => @applicant.job_stage.name == status
          = status
    = f.submit "Submit"

%br
- unless @applicant.attachments.empty?
  %table{:class => "attachments"}
    %th
      Extra Attachments:
    - @applicant.attachments.each do |a|
      %tr
        %td
          = a.caption
        %td
          = link_to a.attachment_file_name, a.attachment.url
              
%br
= form_for [@applicant, Attachment.new], :url => applicant_attachments_path(@applicant), :html => {:multipart => true} do |f|          
  %table{:class => "attachments"}
    %th
      Add more attachments:
    %tr
      %td
        = f.label "Caption"
      %td
        = f.text_field :caption
    %tr
      %td
        = f.label "Attachment"
      %td
        = f.file_field :attachment, :as => :file
    %tr
      %td
        = f.submit "Submit"

:javascript
  $(function() {
  	$("select#applicant_status").change(function() {
  		$("form.edit_applicant").submit()
  	})
  })
