%h1= @applicant.first_name + " " + @applicant.last_name

%table.details
  %tr
    %th
    %th
  %tr
    %th Position
    %td= @applicant.job.title
  %tr
    %th Email
    %td= @applicant.email
  %tr
    %th Phone
    %td= @applicant.phone
  %tr
    %th Resume
    - if @applicant.attachment?
      %td= link_to @applicant.attachment_file_name, @applicant.attachment.url
    - else
      %td No resume attached
  %tr
    %td
      %strong Status
    %td{:style => "background: #{@applicant.job_stage.color}"}= @applicant.job_stage.name

%ul.actions
  %li= link_to 'Edit details', edit_applicant_path(@applicant)
  %li= link_to 'Mark as unread', mark_applicant_as_unread_path(@applicant)

<div id=jstabs>
%ul
  %li= link_to "Activities", "#tab1"
  %li= link_to "Attachments", "#tab2"

<div id=tab1 class=jstab>
- unless @activities.empty?  
  .activities
    - @activities.each_with_index do |activity, i|
      - if !activity.new_record?
        - if activity.action
          .row
            .col1
              = image_tag "no-picture.png"
            .col2
              %div{:class => "#{i.even? ? 'even' : 'odd'}"}
                .actor= activity.actor.email
                .time= humanize_time(activity.created_at)
                .clearfix
              .row2
                %span.action= activity.action
                - if activity.action == 'attached'
                  - a = Attachment.find(activity.subject_id)
                  %span.attachment
                    - if a.caption.empty?
                      = link_to a.attachment_file_name, a.attachment.url
                    - else 
                      = link_to a.caption, a.attachment.url
        - else
          .row
            .col1
              = image_tag "no-picture.png"
            .col2
              %div{:class => "#{i.even? ? 'even' : 'odd'}"}
                .actor= activity.actor.email
                .time= humanize_time(activity.created_at)
                .clearfix  
              .row2
                %p.comment= activity.comment
                - if activity.next_stage
                  changed status from
                  %div{:style => "background: #{activity.prev_stage.color}", :class => "statusbox"}
                  %span.status= activity.prev_stage.name
                  to
                  %div{:style => "background: #{activity.next_stage.color}", :class => "statusbox"}
                  %span.status= activity.next_stage.name
      .clearfix
                  
= form_for @activity, :url => applicant_activities_path(@applicant), :html => { :class => "clearfix" } do |f|
  %table
    %tr
      %td
        = f.label :comment, "Comment"
        = f.text_area :comment, :rows => 10, :cols => 52
      %td
        = f.label :next_stage, "Status"
        %ol
          - current_account.job_stages.undeleted.each do |stage|
            %li
              = f.radio_button :next_stage, stage.id, :checked => @applicant.job_stage.id == stage.id
              %div{:style => "background: #{stage.color}", :class => "statusbox"}
              = stage.name
        = f.submit "Submit"
</div><!--#tab1-->

<div id=tab2 class=jstab>
.attachments
  Attachments:
  - unless @applicant.attachments.empty?
    %ul
      - @applicant.attachments.each do |a|
        %li
          - if a.caption.empty?
            = link_to a.attachment_file_name, a.attachment.url
          - else 
            = link_to a.caption, a.attachment.url
  - else 
    %p
      (No attachment)
  %br              
  %a{:href => "#", :onclick => "$('#add_attachment').dialog({modal: true, title: 'Add attachment', width: 700, height: 200});"}= "Add attachment"

#add_attachment              
  = form_for [@applicant, Attachment.new], :url => applicant_attachments_path(@applicant), :html => {:multipart => true} do |f|          
    %table{:class => "attachments"}
      %tr
        %td
          = f.label "Caption"
        %td
          = f.text_field :caption
      %tr
        %td
          = f.label "Attachment"
        %td
          = f.file_field :attachment, :as => :file
      %tr
        %td
          = f.submit "Submit"              
</div><!--#tab2-->
     
</div> <!--#jquery_tabs-->

:javascript
  $(function() {
  	$("#jstabs").tabs()
  	$("ul.actions a").button()
  	$('#add_attachment').hide()
  })
