%h1= @applicant.first_name + " " + @applicant.last_name

%table.details
  %tr
    %th
    %th
  %tr
    %td
      %strong Email
    %td= @applicant.email
  %tr
    %td
      %strong Phone
    %td= @applicant.phone
  %tr
    %td
      %strong Resume
    - if @applicant.attachment?
      %td= link_to @applicant.attachment_file_name, @applicant.attachment.url
    - else
      %td No resume attached
  %tr
    %td
      %strong Status
    %td{:style => "background: #{@applicant.job_stage.color}"}= @applicant.job_stage.name

%ul.actions
  %li= link_to 'Edit details', edit_applicant_path(@applicant)
  %li= link_to 'Mark as unread', mark_applicant_as_unread_path(@applicant)

%ol.activities
  - @activities.each do |activity|
    %li
      %p.activity
        = activity.comment

= form_for @activity, :url => applicant_activities_path(@applicant), :html => { :class => "clearfix" } do |f|
  %fieldset.comment
    %legend Comment:
    = f.text_area :comment, :rows => 14, :cols => 64
  %fieldset.status
    %legend Status:
    %ol
      - application_status_collection.each do |status, id|
        %li
          = f.radio_button :next_stage, id, :checked => @applicant.job_stage.name == status
          = status
    = f.submit "Submit"

%br/

= link_to 'Back to Application List', applicants_path

:javascript
  $(function() {
  	$("select#applicant_status").change(function() {
  		$("form.edit_applicant").submit()
  	})
  })
