%h1= @applicant.first_name + " " + @applicant.last_name

%table.details
  %tr
    %th
    %th
  %tr
    %td
      %strong Email
    %td= @applicant.email
  %tr
    %td
      %strong Phone
    %td= @applicant.phone
  %tr
    %td
      %strong Resume
    - if @applicant.attachment?
      %td= link_to @applicant.attachment_file_name, @applicant.attachment.url
    - else
      %td No resume attached
  %tr
    %td
      %strong Status
    %td{:style => "background: #{@applicant.job_stage.color}"}= @applicant.job_stage.name

%ul.actions
  %li= link_to 'Edit details', edit_applicant_path(@applicant)
  %li= link_to 'Mark as unread', mark_applicant_as_unread_path(@applicant)

%br/

= link_to 'Back to Application List', applicants_path

:javascript
  $(function() {
  	$("select#applicant_status").change(function() {
  		$("form.edit_applicant").submit()
  	})
  })
