.col1
  .col11{:id => @first_stage.id}
    .update_form
      = form_for([:config, @first_stage], :remote => true, :html => {:method => :put}) do |f|
        = f.text_field :name
        = submit_tag 'Update'
        or 
        %span.pseudo_link.cancel_update
          Cancel
    .editable
      = @first_stage.name
    .progress{:style => "display: none"}
      %span{:style => "color:blue"}
        Updating...  
      = image_tag "loading.gif", :alt => "Updating"
  .col12
    = image_tag("edit-icon.png")
  .col13
    &nbsp;
  .col14
    .controlset
      %input{:class => "color", :id => "color#{@first_stage.id}", :type => "text", :value => @first_stage.color}
.col2
  (initial stage)
  
- @job_stages.each do |job_stage|
  %li{:id => "order_#{job_stage.id}"}
    .col1
      .col11{:id => job_stage.id}
        .update_form
          = form_for([:config, job_stage], :remote => true, :html => {:method => :put}) do |f|
            = f.text_field :name
            = submit_tag 'Update'
            or 
            %span.pseudo_link.cancel_update
              Cancel
        .editable
          = job_stage.name
        .progress{:style => "display: none"}
          %span{:style => "color:blue"}
            Updating...  
          = image_tag "loading.gif", :alt => "Updating"
      .col12
        = image_tag("edit-icon.png")
      .col13
        = link_to image_tag("delete-icon.png"), config_job_stage_path(job_stage), :confirm => 'Are you sure?', :method => :delete
      .col14
        .controlset
          %input{:class => "color", :id => "color#{job_stage.id}", :type => "text", :value => job_stage.color}
.clearfix

