= content_for :head do
  = stylesheet_link_tag "colorPicker.css"
  = javascript_include_tag "jquery.inlineEdit.js", "jquery.colorPicker.js"

= content_for :heading do
  %h1 Status of applications

%ul{:id => 'sortable'}
  = render :partial => 'stages'

%button{:id => 'new_stage_button', :onclick => "$('#new_stage_form').show(); $(this).hide();"}
  New job stage
#new_stage_form
  Add a new Stage
  = form_for([:config, @job_stage], :remote => true) do |f|
    = f.text_field :name
    = submit_tag 'Add'
    or 
    %a{:href => "#new_stage_cancel", :id => "new_stage_cancel"}
      Cancel


:erb
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.editable').inlineEdit({
        save: function(data) {
          var editable = $(this);
          var ineditable = $(this).siblings('.ineditable');
          var progress = $(this).siblings('.progress');
          
          $.ajax({
            type: 'PUT',
            url: '/config/job_stages/' + $(this).parent().attr('id'),
            data: {
              'stage[name]' : data.value,
            },
            beforeSend: function(){
              editable.hide();
              progress.show();
            },
            complete: function(){
              progress.hide();
            }
          })
        },
        cancel: function() {
          $(this).val($(this).next());
          $(this).hide();
          $(this).next().show();
        }
      });
      
      $('#sortable').sortable({
        items: 'li',
        cursor: 'move',
        update: function(e, data) {
          var order = $('#sortable').sortable('serialize');
          $.ajax({
            type: 'PUT',
            url: '/config/job_stages/1',
            data: order
          });
        }
      });
      
      $('.color').colorPicker();
      
      $('.color').change(function(e, data){
        var stage_id = $(this).attr('id').slice(5);
        
        $.ajax({
          type: 'PUT',
          url: '/config/job_stages/' + stage_id,
          data: {
            'stage[color]' : $(this).val(),
          }
        });
      });
      
      $('.col12 > img').click(function(){
        var stage = $(this).parent().parent();
        var e = stage.children(":first-child"); 
        e.children(".ineditable").hide();
        e.children(".editable").show();
        e.children(".editable").click();
      });
      
      <% if @job_stage.errors.empty? %>
        $('#new_stage_form').hide();
      <% else %>
        $('#new_stage_button').hide();
      <% end %>
      
      $('#new_stage_cancel').click(function(){
        var will_be_removed = $(this).siblings('.field_with_errors')

        $('#new_stage_form').hide(); 
        $('#new_stage_button').show(); 
        will_be_removed.replaceWith(will_be_removed.contents());        
      });
    })
  </script>
