%h1 Job Stages


%ul{:id => 'sortable'}
  .col1
    .col11{:id => @first_stage.id}
      .editable
        = @first_stage.name
      .ineditable
        = @first_stage.name
    .col12
      = image_tag("edit-icon.png")
    .col13
      &nbsp;
    .col14
      .controlset
        %input{:class => "color", :id => "color#{@first_stage.id}", :type => "text", :value => @first_stage.color}

  .col2
    (initial stage)
  - @job_stages.each do |job_stage|
    %li{:id => "order_#{job_stage.id}"}
      .col1
        .col11{:id => job_stage.id}
          .editable
            = job_stage.name
          .ineditable
            = job_stage.name
        .col12
          = image_tag("edit-icon.png")
        .col13
          = link_to image_tag("delete-icon.png"), config_job_stage_path(job_stage), :confirm => 'Are you sure?', :method => :delete
        .col14
          .controlset
            %input{:class => "color", :id => "color#{job_stage.id}", :type => "text", :value => job_stage.color}

.clearfix

.button
  = link_to 'New job stage', new_config_job_stage_path


:erb
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.editable').inlineEdit({
        save: function(e, data) {
          $.ajax({
            type: 'PUT',
            url: '/config/job_stages/' + $(this).parent().attr('id'),
            data: {
              'job_stage[name]' : data.value,
            }, 
            success: function(){
            }
          })
        }
      });
      
      $('#sortable').sortable({
        items: 'li',
        update: function(e, data) {
          var order = $('#sortable').sortable('serialize');
          $.ajax({
            type: 'POST',
            url: '/config/job_stages/order',
            data: order,
            success: function(data){
              alert('hello');
            }
          })
        }
      });
      
      $('.color').colorPicker();
      
      $('.color').change(function(e, data){
        var stage_id = $(this).attr('id').slice(5);
        
        $.ajax({
          type: 'PUT',
          url: '/config/job_stages/' + stage_id,
          data: {
            'job_stage[color]' : $(this).val(),
          }, 
          success: function(){
            $('#notice').text('Stage was successfully updated.')
          }
        });
      });
      
      $('.col12 > img').click(function(){
        var stage = $(this).parent().parent();
        var e = stage.children(":first-child"); 
        e.children(".ineditable").hide();
        e.children(".editable").show();
        e.children(".editable").click();
      });
    })
  </script>
