= form_for @job do |f|
  - if @job.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %th Position          
      %td
        = f.text_field :title
    %tr
      %th Status
      %td
        %fieldset#status
          - statuses = @job.new_record? ? Job::STATUSES[0...2] : Job::STATUSES
          - statuses.each do |s|
            = label "job_status", s
            = radio_button :job, :status, s
    %tr
      %th Expiry date
      %td
        = f.text_field :expiry_date
    %tr
      %th{:style => "vertical-align: top"}
        Description
      %td
        = f.cktext_area :description, :height => 400, :width => 720
    %tr
      %th
      %td
        = submit_tag 'Submit'

:javascript
  $(function() {
  	$("fieldset#status").buttonset()
  	$("input#job_expiry_date").datepicker()
  	$("input[type=submit]").button()
  })
