= form_for @job do |f|
  - if @job.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %td
        Position          
      %td
        = f.text_field :title
    %tr
      %td
        Expiry date
      %td
        = date_select(:job, :expiry_date)
    %tr
      %td
        Description
      %td
        = f.cktext_area :description
    %tr
      %td
        Status
      %td
        = select(:job, :status, job_status_collection)
    %tr
      %td
        = submit_tag 'Save'
    

