%h1 Listing jobs

%table
  %tr
    %th Position
    %th Status
    %th Number of applications
    %th
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= job.title
      %td= job.status
      %td= job.applicants_count ? job.applicants_count : 0
      %td= link_to 'View', pub_job_path(job)
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Post a new Job', new_job_path
