= content_for :heading do
  %h1 Listing jobs
  .right
    = link_to 'Post a new Job', new_job_path, :id => "new_job"

%table.applicants
  %tr.title
    %th Position
    %th Status
    %th Number of applications
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= link_to job.title, pub_job_path(job)
      %td= job.status
      %td= job.applicants_count ? job.applicants_count : 0
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete

:javascript
  $(function() {
  	$("a#new_job").button()
  })
