%h1 Create an account

= semantic_form_for([:main, @account]) do |f|
  -if @account.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg 
    
  = f.inputs do
    = f.input :name, :label => "Company Name", :required => true
    = f.input :subdomain, :label => "Subdomain", :required => true
    = f.semantic_fields_for :owner do |o|
      = o.input :email, :label => "Email", :required => true
      = o.input :password, :as => :password, :label => "Password", :required => true
      = o.input :password_confirmation, :as => :password, :label => "Password Confirmation", :required => true
    / = f.input :captcha, :as => :simple_captcha, :label => "Type the text from the image!"
      
  = f.buttons do
    = f.commit_button 'Submit'

