%h1 Registration for free!

= semantic_form_for([:main, @account]) do |f|
  -if @account.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg 
    
  = f.inputs do
    = f.input :name, :label => "Account Name"
    = f.input :subdomain, :label => "Subdomain"
    = f.semantic_fields_for :owner do |o|
      = o.input :email, :label => "Email"
      = o.input :password, :as => :password, :label => "Password"
      = o.input :password_confirmation, :as => :password, :label => "Password Confirmation"            
  = f.buttons do
    = f.commit_button 'Save'

