%h1
  Your account information

%table.details
  %tr
    %th
      %b= "Name"
    %td= @account.name
  %tr
    %th
      %b= "Subdomain"
    %td= @account.subdomain
  %tr
    %th
      %b= "Email"
    %td= @account.owner.email
%br/
%br/
= link_to "Go to your site", dashboard_url(:subdomain => @account.subdomain)
