= content_for :heading do
  %h1 Account users

%table
  - @users.each do |user|
    %tr
      %td= user.email

%h1 Invite new user

= semantic_form_for [:config, @user] do |f|
  = f.inputs do
    = f.input :email
  = f.buttons do
    = f.commit_button "Send invitation"

:javascript
  $(function() {
  	$("input[type=submit]").button()
  })
