= semantic_form_for [:admin, @job_stage] do |f|
  -if @job_stage.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@job_stage.errors.count, "error")} prohibited this job_stage from being saved:"
      %ul
        - @job_stage.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs do
    = f.input :name, :label => "Name"
    = f.input :description, :label => "Description"
    
  = f.buttons do
    = f.commit_button 'Save'
    
