%h1= "Apply for a \"#{@applicant.job.title}\" position"

- semantic_form_for [:pub, :job, @applicant], :html => {:multipart => true} do |f|
  - f.inputs do
    = f.input :first_name, :label => "First name"
    = f.input :last_name, :label => "Last name"
    = f.input :email, :label => "Email"
    = f.input :phone, :label => "Phone"
    = f.input :cv, :label => "CV (1)", :input_html => {:rows => 15}
    = f.input :attachment, :as => :file, :label => "Attachment (2)"
  
  - f.buttons do
    = f.commit_button 'Save'

= link_to 'Back to Job Description', pub_job_path(@applicant.job)
