!!! XML
!!!
%html
  %head
    %title Hiring application
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
    = stylesheet_link_tag "scaffold.css"
    = formtastic_stylesheet_link_tag
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    #container
      #header
        - if user_signed_in?
          = current_user.email
          |
          = link_to "Sign out", destroy_user_session_path
        - else
          = link_to "Sign in", new_user_session_path
          |
          = link_to "Sign up", new_user_registration_path
          |
          = link_to "Public jobs board", pub_jobs_path
          |
          = link_to "Jobs", jobs_path
          |
          = link_to "Admin area", jobs_path
        %p#notice= notice
        %p#alert= alert
      #sidebar
      #content
        %h1 HiRing
        = yield
      #footer
