!!! XML
!!!
%html
  %head
    %title Hiring application
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
    = stylesheet_link_tag "style.css"
    = formtastic_stylesheet_link_tag
    = javascript_include_tag :all
    = csrf_meta_tag
    = yield :head
  %body
    #container
      #header
        .links.clearfix
          #left
            = link_to "Public jobs board", pub_jobs_path
          #right
            - if user_signed_in?
              = current_user.email
              |
              = link_to "Dashboard", dashboard_path
              |
              = link_to "Jobs", jobs_path
              |
              = link_to "Job Stages", job_stages_path
              |
              = link_to "Applications", applicants_path
              |
              - if current_user.owns?(current_account)
                = link_to "Users", users_path
                |
              = link_to "Sign out", destroy_user_session_path
            - else
              = link_to "Sign in", new_user_session_path
              |
              = link_to "Sign up", new_user_registration_path
        %h1#title HiRing
      #sidebar
        %ul
        = yield :sidebar
      #content
        - if notice || alert
          #flashes
            %p#notice= notice
            %p#alert= alert
        = yield
      #footer
        @2010. Powered by <a href=http://www.techpropulsionlabs.com>Tech Propulsion Labs</a>.
