!!! XML
!!!
%html
  %head
    %title Hiring application
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
    = stylesheet_link_tag "style.css"
    = formtastic_stylesheet_link_tag
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    #container
      #header
        - if admin_signed_in?
          = current_admin.email
          |
          = link_to "Accounts management", main_accounts_path
          = link_to "Sign out", destroy_admin_session_path
        - else
          = link_to "Sign in", new_admin_session_path
      #sidebar
        %ul
          %li Something
          %li on
          %li the
          %li side
      #content
        %h1#title HiRing
        - if notice || alert
          #flashes
            %p#notice= notice
            %p#alert= alert
        = yield
      #footer
        @2010. Powered by <a href=http://www.techpropulsionlabs.com>Tech Propulsion Labs</a>.
