!!! XML
!!!
%html
  %head
    %title Hiring application
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
    %link{ :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", :rel => "stylesheet", :type => "text/css" }
    = stylesheet_link_tag "simple.css"
    = formtastic_stylesheet_link_tag
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    #header
      .links.clearfix
        .right
          = link_to "Admin Area", dashboard_path
      %h1#title= current_account ? current_account.name : "HiringApp"
    #container.clearfix
      #content
        - if notice || alert
          #flashes
            %p#notice= notice
            %p#alert= alert
        = yield
    #footer
      Copyright 2010. Powered by
      :erb
        <a href=<%= root_url(:subdomain => false) %>>HiringApp</a>.
