!!! XML
!!!
%html
  %head
    %title Hiring application
    = stylesheet_link_tag "jquery-ui-1.8.2.custom.css", "simple.css"
    = formtastic_stylesheet_link_tag
    / %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    / %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
    = javascript_include_tag 'jquery.min.js', 'jquery-ui-1.8.2.custom.min.js', 'rails.js'
    = javascript_include_tag :ckeditor
    = csrf_meta_tag
    = yield :head
  %body
    #header
      .links.clearfix
        .right
          = link_to "Admin Area", dashboard_path
      %h1#title= current_account ? current_account.name : "HiringApp"
    #container.clearfix
      #content
        - if notice || alert
          #flashes
            %p#notice= notice
            %p#alert= alert
        = yield
    #footer
      Copyright 2010. Powered by
      :erb
        <a href=<%= root_url(:subdomain => false) %>>HiringApp</a>.
